<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PrikaziRezervacije</display-name>
    <servlet-name>PrikaziRezervacije</servlet-name>
    <servlet-class>com.nenad.controller.PrikaziRezervacije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziRezervacije</servlet-name>
    <url-pattern>/prikaziRezervacije</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SnimiVozilo</display-name>
    <servlet-name>SnimiVozilo</servlet-name>
    <servlet-class>com.nenad.controller.SnimiVozilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnimiVozilo</servlet-name>
    <url-pattern>/snimiVozilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.nenad.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPanel</display-name>
    <servlet-name>AdminPanel</servlet-name>
    <servlet-class>com.nenad.controller.AdminPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanel</servlet-name>
    <url-pattern>/adminPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniVozilo</display-name>
    <servlet-name>IzmeniVozilo</servlet-name>
    <servlet-class>com.nenad.controller.IzmeniVozilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniVozilo</servlet-name>
    <url-pattern>/adminPanel/IzmeniVozilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSnimiVozilo</display-name>
    <servlet-name>AdminSnimiVozilo</servlet-name>
    <servlet-class>com.nenad.controller.AdminSnimiVozilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSnimiVozilo</servlet-name>
    <url-pattern>/adminPanel/snimiVozilo</url-pattern>
  </servlet-mapping>
</web-app>